<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="userDetails()">
      <mat-icon>info</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="adForm" (ngSubmit)="onFormSubmit(adForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="title" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!adForm.get('title').valid && adForm.get('title').touched">Please enter Ad Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="description" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!adForm.get('description').valid && adForm.get('description').touched">Please enter Ad description</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!adForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>